:root {
  --containerPadding: 15px;
  --spacer: 30px;
  --mobile-menu-indent: 32px;
  --baseFontSize: 14px;
  --baseFontFamily: "Roboto", sans-serif;
  --baseLetterSpacing: 0.03em;
  --anim-speed: 250ms;
  --anim-fn: cubic-bezier(0.4, 0, 0.2, 1);
  --background-c: #e5e5e5;
  --prima-c-values: 33, 150, 243;
  --prima-c: rgb(var(--prima-c-values));
  --prima-c2: #188ce8;
  --gray-bg: 47, 48, 58;
  --light-gray: #f5f4fa;
  --light-gray2: #afb1b8;
  --light-gray3: #eceaef;
  --targets-overlay-c: rgba(47, 48, 58, 0.8);
  --white-c-values: 255, 255, 255;
  --white-c: rgb(var(--white-c-values));
  --black-c-values: 0, 0, 0;
  --black-c: rgb(var(--black-c-values));
  --border-c1: #ececec;
  --border-c2: #eee;
  --text-c-1-values: 33, 33, 33;
  --text-c-1: rgb(var(--text-c-1-values));
  --text-c-2-values: 117, 117, 117;
  --text-c-2: rgb(var(--text-c-2-values));
}

@media screen and (min-width: 0px) {
  :root {
    --featureColumns: 1;
    --teamColumns: 1;
    --targetColumns: 3;
    --clientColumns: 2;
    --projectColumns: 1;
    --containerWidth: 480px;
    --teamMemberBottomPadding: ;
    --teamMemberImgAspect: 450 / 460;
    --projectImgAspect: 450 / 294;
    --sectionPadding: 60px;
    --minorMargin: 30px;
  }
}
@media screen and (min-width: 480px) {
  :root {
    --featureColumns: 1;
    --teamColumns: 1;
    --targetColumns: 3;
    --clientColumns: 2;
    --projectColumns: 1;
    --containerWidth: 480px;
    --teamMemberBottomPadding: ;
    --teamMemberImgAspect: 450 / 460;
    --projectImgAspect: 450 / 294;
    --sectionPadding: 60px;
    --minorMargin: 30px;
  }
}
@media screen and (min-width: 768px) {
  :root {
    --featureColumns: 2;
    --teamColumns: 2;
    --targetColumns: 3;
    --clientColumns: 3;
    --projectColumns: 2;
    --containerWidth: 768px;
    --teamMemberBottomPadding: ;
    --teamMemberImgAspect: 354 / 374;
    --projectImgAspect: 354 / 294;
    --sectionPadding: 60px;
    --minorMargin: 30px;
  }
}
@media screen and (min-width: 1200px) {
  :root {
    --featureColumns: 4;
    --teamColumns: 4;
    --targetColumns: 3;
    --clientColumns: 6;
    --projectColumns: 3;
    --containerWidth: 1200px;
    --teamMemberBottomPadding: ;
    --teamMemberImgAspect: 270 / 260;
    --projectImgAspect: 370 / 294;
    --sectionPadding: 94px;
    --minorMargin: 50px;
  }
}

:root {
  background-color: var(--background-c, #e5e5e5);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, li, ul, p, label, button {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  display: block;
}

img, use {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: var(--baseFontFamily, "Roboto", sans-serif);
  font-size: var(--baseFontSize, 14px);
  letter-spacing: var(--baseLetterSpacing, 0.03);
  background-color: var(--white-c);
}
body.scroll-disabled {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}

.container {
  width: 100%;
  padding-left: var(--containerPadding);
  padding-right: var(--containerPadding);
  margin-left: auto;
  margin-right: auto;
  max-width: var(--containerWidth);
}

.button[type=button], .button[type=submit] {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: calc(var(--baseFontSize) * 1.1428571429);
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
}

.title-h2 {
  font-weight: 700;
  font-size: calc(var(--baseFontSize) * 2);
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-c-1);
}
@media screen and (min-width: 1200px) {
  .title-h2 {
    font-size: calc(var(--baseFontSize) * 2.5714285714);
    line-height: 1.1666666667;
  }
}

.section__title-h2 {
  margin-bottom: var(--minorMargin);
}

.wrappable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * var(--spacer));
  margin-top: calc(-1 * var(--spacer));
}
.wrappable > * {
  margin-left: var(--spacer);
  margin-top: var(--spacer);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(var(--black-c-values), 0.2);
  -webkit-transition: background-color var(--anim-speed) var(--anim-fn);
  transition: background-color var(--anim-speed) var(--anim-fn);
}

.backdrop--hidden {
  pointer-events: none;
  background-color: rgba(var(--black-c-values), 0);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  overflow: auto;
  background-color: var(--white-c);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform var(--anim-speed) var(--anim-fn);
  transition: -webkit-transform var(--anim-speed) var(--anim-fn);
  transition: transform var(--anim-speed) var(--anim-fn);
  transition: transform var(--anim-speed) var(--anim-fn), -webkit-transform var(--anim-speed) var(--anim-fn);
}
.modal-window--hidden {
  pointer-events: none;
}

.modal-window__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: var(--white-c);
  fill: var(--black-c);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  -webkit-transition: fill var(--anim-speed) var(--anim-fn);
  transition: fill var(--anim-speed) var(--anim-fn);
}
.modal-window__close-btn:hover, .modal-window__close-btn:focus {
  fill: var(--prima-c);
}

.modal-window__close-icon {
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid var(--border-c1);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*----------- mobile only ---------*/
@media screen and (max-width: 767px) {
  .header__container {
    padding-top: 10px;
    padding-bottom: 9px;
  }

  .header__modal-window {
    z-index: 49;
    width: 100%;
    height: 100%;
    max-width: 480px;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    padding-top: 48px;
    padding-bottom: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform var(--anim-speed) cubic-bezier(0, 0, 0, 1);
    transition: -webkit-transform var(--anim-speed) cubic-bezier(0, 0, 0, 1);
    transition: transform var(--anim-speed) cubic-bezier(0, 0, 0, 1);
    transition: transform var(--anim-speed) cubic-bezier(0, 0, 0, 1), -webkit-transform var(--anim-speed) cubic-bezier(0, 0, 0, 1);
  }
  .header__modal-window--hidden {
    pointer-events: none;
    -webkit-transform: translate(-50%, calc(-150% - 200px));
            transform: translate(-50%, calc(-150% - 200px));
    -webkit-transition: -webkit-transform var(--anim-speed) cubic-bezier(0, 0, 1, 0);
    transition: -webkit-transform var(--anim-speed) cubic-bezier(0, 0, 1, 0);
    transition: transform var(--anim-speed) cubic-bezier(0, 0, 1, 0);
    transition: transform var(--anim-speed) cubic-bezier(0, 0, 1, 0), -webkit-transform var(--anim-speed) cubic-bezier(0, 0, 1, 0);
  }

  .header__main-menu {
    margin-bottom: auto;
  }

  .header__address-list {
    font-weight: 500;
    margin-bottom: var(--mobile-menu-indent, 32px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .header__address-icon {
    display: none;
  }

  .header__address-item {
    margin-bottom: var(--mobile-menu-indent, 32px);
  }

  .header__address-link {
    -webkit-transition: color var(--anim-speed) var(--anim-fn);
    transition: color var(--anim-speed) var(--anim-fn);
  }
  .header__address-link--appearance-phone {
    font-size: 34px;
    line-height: 1.1764705882;
    letter-spacing: 0.02em;
    color: var(--prima-c);
  }
  .header__address-link--appearance-phone:hover, .header__address-link--appearance-phone:focus {
    color: var(--prima-c2);
  }
  .header__address-link--appearance-email {
    font-size: 24px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    color: var(--text-c-2);
  }
  .header__address-link--appearance-email:hover, .header__address-link--appearance-email:focus {
    color: var(--prima-c);
  }

  .header__socials-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .header__socials-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__socials-item:not(:last-child)::after {
    content: "";
    display: block;
    margin-left: 9.5px;
    margin-right: 9.5px;
    width: 1px;
    height: 100%;
    background-color: rgba(var(--text-c-1-values), 0.2);
  }

  .header__socials-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2222222222;
    letter-spacing: 0.02em;
    color: var(--prima-c);
    -webkit-transition: color var(--anim-speed) var(--anim-fn);
    transition: color var(--anim-speed) var(--anim-fn);
  }
  .header__socials-link:hover, .header__socials-link:focus {
    color: var(--prima-c2);
  }

  .header__mobile-menu-btn {
    position: relative;
    z-index: 99;
    fill: var(--text-c-1);
    background: none;
    border: none;
    color: transparent;
    -webkit-transition: fill var(--anim-speed) var(--anim-fn), z-index 0ms linear var(--anim-speed);
    transition: fill var(--anim-speed) var(--anim-fn), z-index 0ms linear var(--anim-speed);
  }
  .header__mobile-menu-btn:hover, .header__mobile-menu-btn:focus {
    fill: var(--prima-c);
  }
  .header__mobile-menu-btn--opened {
    z-index: 100;
    fill: transparent;
    color: var(--text-c-1);
    -webkit-transition: color var(--anim-speed) var(--anim-fn);
    transition: color var(--anim-speed) var(--anim-fn);
  }
  .header__mobile-menu-btn--opened:hover, .header__mobile-menu-btn--opened:focus {
    fill: transparent;
    color: var(--prima-c);
  }

  .header__mobile-menu-icon {
    fill: inherit;
    color: inherit;
  }
}
/*----------- tablet + ---------*/
@media screen and (min-width: 768px) {
  .header__container {
    height: 79px;
  }

  .header__socials-list {
    display: none;
  }

  .header__mobile-menu-btn {
    display: none;
  }

  .header__backdrop {
    position: initial;
    pointer-events: all;
    z-index: auto;
    background-color: transparent;
    width: 100%;
  }

  .header__logo {
    margin-right: 88px;
  }

  .header__modal-window {
    position: relative;
    top: initial;
    left: initial;
    padding: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
    overflow: visible;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: none;
    transition: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__address-list {
    margin-left: auto;
  }

  .header__address-item:first-child {
    margin-bottom: 10px;
  }

  .header__address-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--text-c-2);
    -webkit-transition: color var(--anim-speed) var(--anim-fn);
    transition: color var(--anim-speed) var(--anim-fn);
  }
  .header__address-link:hover, .header__address-link:focus {
    color: var(--prima-c);
  }
}
/*----------- tablet only ---------*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__address-link {
    font-size: calc(var(--baseFontSize) * 0.8571428571);
    line-height: 1.1666666667;
  }

  .header__address-icon {
    margin-right: 8px;
  }

  .header__address-icon-envelope {
    margin-left: -1px;
    scale: 0.875 0.8333333333;
  }

  .header__address-icon-phone {
    margin-top: -1px;
    margin-bottom: -1px;
    scale: 1 0.875;
  }
}
/*----------- desktop ---------*/
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }

  .header__address-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__address-item:first-child {
    margin-bottom: 0px;
    margin-right: var(--spacer);
  }

  .header__address-link {
    font-size: calc(var(--baseFontSize) * 1);
    line-height: 1.1428571429;
  }

  .header__address-icon {
    margin-right: 10px;
  }
}
.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: calc(var(--baseFontSize) * 1.7142857143);
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--text-c-1);
}

.logo__part {
  color: var(--prima-c);
}

/*----------- desktop ---------*/
@media screen and (min-width: 1200px) {
  .logo {
    font-size: calc(var(--baseFontSize) * 1.8571428571);
    line-height: 1.1923076923;
    color: var(--black-c);
  }
}
.main-menu__item {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--text-c-1);
  -webkit-transition: color var(--anim-speed) var(--anim-fn);
  transition: color var(--anim-speed) var(--anim-fn);
}
.main-menu__item--selected {
  position: relative;
  pointer-events: none;
  cursor: default;
  color: var(--prima-c);
}

.main-menu__link {
  display: inline-block;
  -webkit-transition: color var(--anim-speed) var(--anim-fn);
  transition: color var(--anim-speed) var(--anim-fn);
}
.main-menu__link:hover, .main-menu__link:focus {
  color: var(--prima-c);
}

/*----------- mobile + ---------*/
@media screen and (max-width: 767px) {
  .main-menu__item {
    --line_height: 47;
    height: calc(var(--line_height) * 1px + 1px);
    font-size: calc(var(--baseFontSize) * 2.8571428571);
    line-height: calc(var(--line_height) / 40);
  }
  .main-menu__item--selected {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    height: calc(var(--baseFontSize) * 2.8571428571 + 12px);
  }
  .main-menu__item--selected::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    border-radius: 2px;
    background-color: var(--prima-c);
  }
  .main-menu__item:not(:last-child) {
    margin-bottom: var(--mobile-menu-indent, 32px);
  }
}
/*----------- tablet + ---------*/
@media screen and (min-width: 768px) {
  .main-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main-menu__item:not(:last-child) {
    margin-right: 50px;
  }

  .main-menu__item--selected .main-menu__link::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 4px;
    top: calc(50% - 4px + 40.5px);
    border-radius: 2px;
    background-color: var(--prima-c);
  }
}
.order {
  height: 400px;
  margin: auto;
  max-width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgb(var(--gray-bg));
  background-size: cover;
  background-position: center;
  background-clip: content-box;
}
@media screen and (max-width: 625px) and (min-device-pixel-ratio: 1), screen and (max-width: 625px) and (-webkit-min-device-pixel-ratio: 1), screen and (max-width: 625px) and (min-resolution: 96dpi), screen and (max-width: 625px) and (min-resolution: 1dppx) {
  .order {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(var(--gray-bg), 0.4)), color-stop(40%, rgba(var(--gray-bg), 0.4))), url("../images/team-bg-h400.jpg");
    background-image: linear-gradient(rgba(var(--gray-bg), 0.4) 40%, rgba(var(--gray-bg), 0.4) 40%), url("../images/team-bg-h400.jpg");
  }
}
@media screen and (max-width: 625px) and (min-device-pixel-ratio: 2), screen and (max-width: 625px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 625px) and (min-resolution: 192dpi), screen and (max-width: 625px) and (min-resolution: 2dppx) {
  .order {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(var(--gray-bg), 0.4)), color-stop(40%, rgba(var(--gray-bg), 0.4))), url("../images/team-bg-h400@2x.jpg");
    background-image: linear-gradient(rgba(var(--gray-bg), 0.4) 40%, rgba(var(--gray-bg), 0.4) 40%), url("../images/team-bg-h400@2x.jpg");
  }
}
@media screen and (max-width: 625px) and (min-device-pixel-ratio: 3), screen and (max-width: 625px) and (-webkit-min-device-pixel-ratio: 3), screen and (max-width: 625px) and (min-resolution: 288dpi), screen and (max-width: 625px) and (min-resolution: 3dppx) {
  .order {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(var(--gray-bg), 0.4)), color-stop(40%, rgba(var(--gray-bg), 0.4))), url("../images/team-bg.jpg");
    background-image: linear-gradient(rgba(var(--gray-bg), 0.4) 40%, rgba(var(--gray-bg), 0.4) 40%), url("../images/team-bg.jpg");
  }
}
@media screen and (min-width: 626px) and (max-width: 768px) and (min-device-pixel-ratio: 1), screen and (min-width: 626px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1), screen and (min-width: 626px) and (max-width: 768px) and (min-resolution: 96dpi), screen and (min-width: 626px) and (max-width: 768px) and (min-resolution: 1dppx) {
  .order {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(var(--gray-bg), 0.4)), color-stop(40%, rgba(var(--gray-bg), 0.4))), url("../images/team-bg-w768.jpg");
    background-image: linear-gradient(rgba(var(--gray-bg), 0.4) 40%, rgba(var(--gray-bg), 0.4) 40%), url("../images/team-bg-w768.jpg");
  }
}
@media screen and (min-width: 626px) and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 626px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 626px) and (max-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 626px) and (max-width: 768px) and (min-resolution: 2dppx) {
  .order {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(var(--gray-bg), 0.4)), color-stop(40%, rgba(var(--gray-bg), 0.4))), url("../images/team-bg.jpg");
    background-image: linear-gradient(rgba(var(--gray-bg), 0.4) 40%, rgba(var(--gray-bg), 0.4) 40%), url("../images/team-bg.jpg");
  }
}
@media screen and (min-width: 769px) {
  .order {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(var(--gray-bg), 0.4)), color-stop(40%, rgba(var(--gray-bg), 0.4))), url("../images/team-bg.jpg");
    background-image: linear-gradient(rgba(var(--gray-bg), 0.4) 40%, rgba(var(--gray-bg), 0.4) 40%), url("../images/team-bg.jpg");
  }
}

.order__text {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: calc(var(--baseFontSize) * 1.8571428571);
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-c);
}

.order__button {
  min-width: 200px;
  padding: 10px 20px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-c);
  background-color: var(--prima-c);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--anim-speed) var(--anim-fn);
  transition: background-color var(--anim-speed) var(--anim-fn);
}
.order__button:hover, .order__button:focus {
  background-color: var(--prima-c2);
}

.order__modal-window {
  width: 100%;
  min-width: calc(320px - var(--containerPadding) * 2);
  max-width: calc(480px - var(--containerPadding) * 2);
}
.order__modal-window--hidden {
  -webkit-transform: translate(-50%, calc(60vh + 50%)) rotate(-180deg) scale(2);
          transform: translate(-50%, calc(60vh + 50%)) rotate(-180deg) scale(2);
}

/*----------- desktop ---------*/
@media screen and (min-width: 1200px) {
  .order__modal-window {
    max-width: 528px;
  }

  .order {
    height: 600px;
  }

  .order__text {
    font-size: calc(var(--baseFontSize) * 3.1428571429);
    line-height: 1.3636363636;
  }

  .order {
    background-position-y: calc(50% + 65px);
  }
}
.features__item {
  width: 100%;
  -ms-flex-preferred-size: calc(100% / var(--featureColumns) - var(--spacer));
      flex-basis: calc(100% / var(--featureColumns) - var(--spacer));
}

.features__item-image-wrapper {
  padding: 25px 0px;
  margin-bottom: var(--spacer);
  border-radius: 4px;
  background-color: var(--light-gray);
}

.features__item-icon {
  margin: 0 auto;
  color: var(--text-c-1);
  fill: var(--prima-c);
}

.features__item-name {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-c-1);
}

.features__item-desc {
  line-height: 1.7142857143;
  color: var(--text-c-2);
}

/*----------- desktop ---------*/
@media screen and (min-width: 1200px) {
  .features__item-name {
    text-align: left;
  }
}
.targets {
  display: none;
}

/*----------- desktop ---------*/
@media screen and (min-width: 1200px) {
  .targets {
    display: block;
  }

  .targets--no-padding-top {
    padding-top: 0px;
  }

  .targets__item {
    -ms-flex-preferred-size: calc(100% / var(--targetColumns) - var(--spacer));
        flex-basis: calc(100% / var(--targetColumns) - var(--spacer));
    position: relative;
  }

  .targets__overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 27px;
    background-color: var(--targets-overlay-c);
  }

  .targets__desc {
    font-weight: 700;
    line-height: 1.1428571429;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-c);
  }
}
.team {
  background-color: var(--light-gray);
}

.team-member {
  -ms-flex-preferred-size: calc(100% / var(--teamColumns) - var(--spacer));
      flex-basis: calc(100% / var(--teamColumns) - var(--spacer));
  background: var(--white-c);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member__img {
  overflow: hidden;
  aspect-ratio: var(--teamMemberImgAspect);
  -o-object-fit: cover;
     object-fit: cover;
}

.team-member__info {
  padding-top: var(--spacer);
  padding-bottom: 24px;
  font-size: calc(var(--baseFontSize) * 1.1428571429);
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-member__name {
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--text-c-1);
}

.team-member__role {
  margin-bottom: 16px;
  font-weight: 400;
  color: var(--text-c-2);
}

/*----------- desktop ---------*/
@media screen and (min-width: 1200px) {
  .team-member__info {
    padding-bottom: var(--spacer);
  }
}
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__btn {
  pointer-events: none;
}

.socials__btn-icon-res {
  pointer-events: all;
  fill: transparent;
  color: var(--light-gray2);
  -webkit-transition: color var(--anim-speed) var(--anim-fn), fill var(--anim-speed) var(--anim-fn);
  transition: color var(--anim-speed) var(--anim-fn), fill var(--anim-speed) var(--anim-fn);
}
.socials__btn-icon-res:hover, .socials__btn:focus .socials__btn-icon-res {
  fill: var(--prima-c);
  color: var(--white-c);
}

.clients__item {
  -ms-flex-preferred-size: calc(100% / var(--clientColumns) - var(--spacer));
      flex-basis: calc(100% / var(--clientColumns) - var(--spacer));
}

.clients__link {
  display: block;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: 1px solid var(--light-gray2);
  outline-offset: -1px;
  border-radius: 4px;
  fill: var(--light-gray2);
  -webkit-transition: outline-color var(--anim-speed) var(--anim-fn), fill var(--anim-speed) var(--anim-fn);
  transition: outline-color var(--anim-speed) var(--anim-fn), fill var(--anim-speed) var(--anim-fn);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--prima-c);
  outline-color: var(--prima-c);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-color: rgb(var(--gray-bg));
}

.footer__logo {
  margin-bottom: 20px;
  color: var(--white-c);
}

.footer__address {
  font-style: normal;
  line-height: 1.7142857143;
  color: var(--white-c);
}

.footer__address-item {
  height: 1.5em;
  margin-bottom: 8px;
}
.footer__address-item:last-child {
  margin-bottom: 0;
}

.footer__address-link {
  color: rgba(var(--white-c-values), 0.6);
  -webkit-transition: color var(--anim-speed) var(--anim-fn);
  transition: color var(--anim-speed) var(--anim-fn);
}
.footer__address-link:hover, .footer__address-link:focus {
  color: var(--prima-c);
}

.footer__socials-title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--white-c);
}

.footer__socials__btn-icon-res {
  fill: rgba(var(--white-c-values), 0.1);
  color: var(--white-c);
}

.footer__logo-address,
.footer__socials {
  margin-bottom: 60px;
}

.footer__subscribe .subscribe__email {
  width: min(100%, 480px - var(--containerPadding) * 2);
}

/*----------- tablet + ---------*/
@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*----------- tablet only ---------*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__logo-address {
    -ms-flex-preferred-size: calc(50% - var(--containerPadding));
        flex-basis: calc(50% - var(--containerPadding));
  }

  .footer__subscribe {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .footer__socials {
    -ms-flex-preferred-size: calc(50% - var(--containerPadding));
        flex-basis: calc(50% - var(--containerPadding));
    padding-bottom: 36px;
  }
}
/*----------- desktop ---------*/
@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }

  .footer__container {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }

  .footer__logo-address {
    width: 231px;
    margin-right: 70px;
    margin-bottom: 0px;
  }

  .footer__address-item {
    margin-bottom: 9px;
  }

  .footer__socials {
    margin-right: auto;
    margin-bottom: 0px;
  }

  .footer__subscribe .subscribe__email {
    width: 358px;
  }
}
.subscribe {
  line-height: 0;
}

.subscribe__title {
  display: inline-block;
  padding-bottom: 20px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--white-c);
}

.subscribe__email {
  width: 100%;
  padding: 14px 15px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: calc(var(--baseFontSize) * 1.1428571429);
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--white-c);
  background: transparent;
  border: 1px solid rgba(var(--white-c-values), 0.3);
  border-radius: 4px;
  -webkit-transition: border-color var(--anim-speed) var(--anim-fn);
  transition: border-color var(--anim-speed) var(--anim-fn);
}
.subscribe__email::-webkit-input-placeholder {
  color: var(--white-c);
  opacity: 0.6;
}
.subscribe__email::-moz-placeholder {
  color: var(--white-c);
  opacity: 0.6;
}
.subscribe__email:-ms-input-placeholder {
  color: var(--white-c);
  opacity: 0.6;
}
.subscribe__email::-ms-input-placeholder {
  color: var(--white-c);
  opacity: 0.6;
}
.subscribe__email::placeholder {
  color: var(--white-c);
  opacity: 0.6;
}
.subscribe__email:hover, .subscribe__email:focus {
  border-color: var(--prima-c);
  outline: none;
}

.subscribe__button {
  min-width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  letter-spacing: 0.06em;
  background-color: var(--prima-c);
  color: var(--white-c);
  fill: var(--white-c);
  -webkit-transition: background-color var(--anim-speed) var(--anim-fn);
  transition: background-color var(--anim-speed) var(--anim-fn);
}
.subscribe__button:hover, .subscribe__button:focus {
  background-color: var(--prima-c2);
}

.subscribe__btn-icon {
  margin-left: 10px;
}

/*----------- desktop ---------*/
@media screen and (min-width: 1200px) {
  .subscribe__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .subscribe__email {
    margin-right: 12px;
  }
}
.order-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.order-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: calc(var(--baseFontSize) * 1.4285714286);
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-c-1);
}

.order-form__field {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  fill: var(--text-c-1);
  color: var(--text-c-2);
  border-color: rgba(var(--text-c-1-values), 0.2);
  -webkit-transition: border-color var(--anim-speed) var(--anim-fn), fill var(--anim-speed) var(--anim-fn);
  transition: border-color var(--anim-speed) var(--anim-fn), fill var(--anim-speed) var(--anim-fn);
}
.order-form__field:hover {
  fill: var(--prima-c);
}
.order-form__field:focus-within {
  fill: var(--prima-c);
  border-color: var(--prima-c);
}

.order-form__field-data {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  margin-bottom: 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding-left: 42px;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  border-radius: 4px;
  outline: none;
}

.order-form__field-icon {
  position: absolute;
  bottom: 21px;
  left: 12px;
}

.order-form__field-comment {
  resize: none;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 11px 15px;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  border-radius: 4px;
  outline: none;
  font-size: calc(var(--baseFontSize) * 1);
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
}
.order-form__field-comment::-webkit-input-placeholder {
  color: var(--text-c-2);
  opacity: 0.5;
}
.order-form__field-comment::-moz-placeholder {
  color: var(--text-c-2);
  opacity: 0.5;
}
.order-form__field-comment:-ms-input-placeholder {
  color: var(--text-c-2);
  opacity: 0.5;
}
.order-form__field-comment::-ms-input-placeholder {
  color: var(--text-c-2);
  opacity: 0.5;
}
.order-form__field-comment::placeholder {
  color: var(--text-c-2);
  opacity: 0.5;
}

.order-form__field--appearance-terms {
  margin-top: 10px;
  margin-bottom: 30px;
  letter-spacing: 0.03em;
}

.order-form__checkmark-icon {
  margin-right: 4px;
  display: inline-block;
  vertical-align: text-top;
  --cb-on: transparent;
  --cb-off: var(--text-c-1);
  color: transparent;
  -webkit-transition: color var(--anim-speed) var(--anim-fn);
  transition: color var(--anim-speed) var(--anim-fn);
}
.order-form__field--appearance-terms:hover .order-form__checkmark-icon, .order-form__terms-cb:focus + .order-form__checkmark-icon {
  --cb-off: var(--prima-c);
}
.order-form__terms-cb:checked + .order-form__checkmark-icon {
  --cb-on: var(--prima-c);
  --cb-off: transparent;
  color: var(--white-c);
}
.order-form__terms-cb:checked + .order-form__checkmark-icon:hover, .order-form__terms-cb:checked:focus + .order-form__checkmark-icon {
  --cb-on: var(--prima-c2);
}

.order-form__link {
  text-decoration: underline;
  color: var(--prima-c);
}
.order-form__link:hover, .order-form__link:focus {
  color: var(--prima-c2);
}

.order-form__submit-btn {
  min-width: 200px;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 10px 50px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--prima-c);
  color: var(--white-c);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--anim-speed) var(--anim-fn);
  transition: background-color var(--anim-speed) var(--anim-fn);
}
.order-form__submit-btn:hover, .order-form__submit-btn:focus {
  background-color: var(--prima-c2);
}

/*----------- desktop ---------*/
@media screen and (min-width: 1200px) {
  .order-form__title {
    line-height: 1.15;
  }

  .order-form__field--appearance-terms {
    text-align: center;
    font-size: 14px;
    line-height: 1.7142857143;
    letter-spacing: 0.03em;
  }
}
.projects__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -15px;
  margin-left: -8px;
  margin-bottom: 40px;
}

.projects__filter-btn {
  margin: 15px 0px 0px 8px;
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--text-c-1);
  background-color: var(--light-gray);
  -webkit-transition: background-color var(--anim-speed) var(--anim-fn), color var(--anim-speed) var(--anim-fn), -webkit-box-shadow var(--anim-speed) var(--anim-fn);
  transition: background-color var(--anim-speed) var(--anim-fn), color var(--anim-speed) var(--anim-fn), -webkit-box-shadow var(--anim-speed) var(--anim-fn);
  transition: background-color var(--anim-speed) var(--anim-fn), box-shadow var(--anim-speed) var(--anim-fn), color var(--anim-speed) var(--anim-fn);
  transition: background-color var(--anim-speed) var(--anim-fn), box-shadow var(--anim-speed) var(--anim-fn), color var(--anim-speed) var(--anim-fn), -webkit-box-shadow var(--anim-speed) var(--anim-fn);
}
.projects__filter-btn:hover, .projects__filter-btn:focus, .projects__filter-btn--selected {
  background-color: var(--prima-c);
  color: var(--white-c);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*----------- tablet + ---------*/
@media screen and (min-width: 768px) {
  .projects__filter {
    margin-bottom: var(--minorMargin);
  }
}
/*----------- desktop ---------*/
@media screen and (min-width: 1200px) {
  .projects__filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.project {
  width: 100%;
  -ms-flex-preferred-size: calc(100% / var(--projectColumns) - var(--spacer));
      flex-basis: calc(100% / var(--projectColumns) - var(--spacer));
}

.project__link {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-box-shadow var(--anim-speed) var(--anim-fn);
  transition: -webkit-box-shadow var(--anim-speed) var(--anim-fn);
  transition: box-shadow var(--anim-speed) var(--anim-fn);
  transition: box-shadow var(--anim-speed) var(--anim-fn), -webkit-box-shadow var(--anim-speed) var(--anim-fn);
}
.project__link:hover, .project__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__img-wrapper {
  position: relative;
  overflow: hidden;
}

.project__img {
  display: block;
  aspect-ratio: var(--projectImgAspect);
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project__img--second {
    -o-object-position: 0px calc(50% - 24px);
       object-position: 0px calc(50% - 24px);
  }
}
.project__img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 63px 24px;
  background-color: rgba(var(--prima-c-values), 0.9);
  color: var(--white-c);
  font-size: calc(var(--baseFontSize) * 1.2857142857);
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--anim-speed) var(--anim-fn);
  transition: -webkit-transform var(--anim-speed) var(--anim-fn);
  transition: transform var(--anim-speed) var(--anim-fn);
  transition: transform var(--anim-speed) var(--anim-fn), -webkit-transform var(--anim-speed) var(--anim-fn);
}
.project__link:hover .project__img-overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.project__description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 20px;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 19px;
  font-weight: 700;
  font-size: calc(var(--baseFontSize) * 1.2857142857);
  line-height: 2;
  letter-spacing: 0.06em;
  border-bottom: 1px solid var(--border-c2);
  border-left: 1px solid var(--border-c2);
  border-right: 1px solid var(--border-c2);
}

.project__name {
  margin-bottom: 4px;
  color: var(--text-c-1);
}

.project__type {
  font-weight: 400;
  font-size: calc(var(--baseFontSize) * 1.1428571429);
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-c-2);
}/*# sourceMappingURL=main.css.map */