@charset "UTF-8";
:root {
  --containerWidth: 1200px;
  --containerPadding: 15px;
  --bodyWidth: calc(var(--containerWidth) + 400px);
  --sectionPadding: 94px;
  --sectionTitleMargin: 50px;
  --spacer: 30px;
  --featureRows: 4;
  --featureMinWidth: 270px;
  --teamMemberCardWidth: 270px;
  --projectCardWidth: 370px;
  --baseFontSize: 14px;
  --baseFontFamily: "Roboto", sans-serif;
  --baseLetterSpacing: 0.03em;
  --logoFontSize: 26px;
  --modalWindowWidth: 528px;
  --modalWindowHeight: 581px;
  --anim-speed: 250ms;
  --anim-fn: cubic-bezier(0.4, 0, 0.2, 1);
  --background-c:#e5e5e5;
  --prima-c-values: 33, 150, 243;
  --prima-c: rgb(var(--prima-c-values));
  --prima-c2: #188ce8;
  --gray-bg: 47, 48, 58;
  --light-gray: #f5f4fa;
  --light-gray2: #afb1b8;
  --light-gray3: #eceaef;
  --targets-overlay-c: rgba(47, 48, 58, 0.8);
  --white-c-values: 255, 255, 255;
  --white-c: rgb(var(--white-c-values));
  --black-c-values: 0, 0, 0;
  --black-c: rgb(var(--black-c-values));
  --border-c1: #ececec;
  --border-c2: #eee;
  --text-c-1-values: 21, 21, 21;
  --text-c-1: rgb(var(--text-c-1-values));
  --text-c-2-values: 117, 117, 117;
  --text-c-2: rgb(var(--text-c-2-values));
}

:root {
  background-color: var(--background-c, #e5e5e5);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, li, ul, p {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

svg {
  display: block;
}

body {
  width: var(--bodyWidth, 1600px);
  margin: 0 auto;
  font-family: var(--baseFontFamily, "Roboto", sans-serif);
  font-size: var(--baseFontSize, 14px);
  letter-spacing: var(--baseLetterSpacing, 0.03);
  background-color: var(--white-c);
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrappable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * var(--spacer));
  margin-top: calc(-1 * var(--spacer));
}
.wrappable > * {
  margin-left: var(--spacer);
  margin-top: var(--spacer);
}

.button[type=button], .button[type=submit] {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: calc(var(--baseFontSize) * 1.1428571429);
}

img, use {
  display: block;
}

.container {
  width: var(--containerWidth, 1200px);
  padding-left: var(--containerPadding, 15px);
  padding-right: var(--containerPadding, 15px);
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: var(--sectionPadding, 94px);
  padding-bottom: var(--sectionPadding, 94px);
}

.title-h2 {
  font-weight: 700;
  font-size: calc(var(--baseFontSize) * 2.5714285714);
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-c-1);
}

.section__title-h2 {
  margin-bottom: var(--sectionTitleMargin, 50px);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(var(--black-c-values), 0.2);
  opacity: 1;
  -webkit-transition: opacity var(--anim-speed) var(--anim-fn);
  transition: opacity var(--anim-speed) var(--anim-fn);
}

.backdrop--hidden {
  pointer-events: none;
  opacity: 0;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--border-c1);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .logo {
  margin-right: 93px;
}

.header__address-list {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__address-item:first-child {
  margin-right: var(--spacer);
}

.header__address-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--text-c-2);
  -webkit-transition: color var(--anim-speed) var(--anim-fn);
  transition: color var(--anim-speed) var(--anim-fn);
}
.header__address-link:hover, .header__address-link:focus {
  color: var(--prima-c);
}

.header__address-icon {
  margin-right: 10px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: var(--logoFontSize, 26px);
  font-weight: 700;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: var(--black-c);
}

.logo__part {
  display: inline-block;
  color: var(--prima-c);
}

.main-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-menu__item:not(:last-child) {
  margin-right: 50px;
}

.main-menu__link {
  font-weight: 500;
  padding: 32px 0;
  letter-spacing: 0.02em;
  color: var(--text-c-1);
  -webkit-transition: color var(--anim-speed) var(--anim-fn);
  transition: color var(--anim-speed) var(--anim-fn);
}
.main-menu__link:hover, .main-menu__link:focus {
  color: var(--prima-c);
}
.main-menu__item--selected .main-menu__link {
  position: relative;
  pointer-events: none;
  cursor: default;
  color: var(--prima-c);
}
.main-menu__item--selected .main-menu__link::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  top: calc(50% - 4px + 40.5px);
  border-radius: 2px;
  background-color: var(--prima-c);
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 200px 0;
  background-color: rgb(var(--gray-bg));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(var(--gray-bg), 0.4)), color-stop(40%, rgba(var(--gray-bg), 0.4))), url("../images/team-bg.jpg");
  background-image: linear-gradient(rgba(var(--gray-bg), 0.4) 40%, rgba(var(--gray-bg), 0.4) 40%), url("../images/team-bg.jpg");
  background-size: cover;
  background-position: center;
}

.order__text {
  margin-bottom: var(--spacer);
  font-weight: 900;
  font-size: calc(var(--baseFontSize) * 3.1428571429);
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-c);
}

.order__button {
  min-width: 200px;
  padding: 10px 20px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-c);
  background-color: var(--prima-c);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--anim-speed) var(--anim-fn);
  transition: background-color var(--anim-speed) var(--anim-fn);
}
.order__button:hover, .order__button:focus {
  background-color: var(--prima-c2);
}

.features__item {
  min-width: var(--featureMinWidth, 270px);
  -ms-flex-preferred-size: calc(100% / var(--featureRows) - var(--spacer));
      flex-basis: calc(100% / var(--featureRows) - var(--spacer));
}

.features__item-inner {
  padding: 25px 0px;
  margin-bottom: var(--spacer);
  text-align: center;
  border-radius: 4px;
  background-color: var(--light-gray);
}

.features__item-icon {
  margin: 0 auto;
  color: var(--text-c-1);
  fill: var(--prima-c);
}

.features__item-name {
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-c-1);
}

.features__item-desc {
  line-height: 1.7142857143;
  color: var(--text-c-2);
}

.targets--no-padding-top {
  padding-top: 0px;
}

.targets__item {
  position: relative;
}

.targets__overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 27px;
  background-color: var(--targets-overlay-c);
}

.targets__desc {
  font-weight: 700;
  line-height: 1.1428571429;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-c);
}

.team {
  background-color: var(--light-gray);
}

.team-member {
  width: var(--teamMemberCardWidth, 270px);
  background: var(--white-c);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member__img {
  overflow: hidden;
}

.team-member__info {
  padding: var(--spacer) 32px;
  font-weight: 500;
  font-size: calc(var(--baseFontSize) * 1.1428571429);
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-c-1);
}

.team-member__name {
  margin-bottom: 10px;
}

.team-member__role {
  margin-bottom: 16px;
  font-weight: 400;
  /* Нужно оставить, переопределяет предыдущее правило */
  color: var(--text-c-2);
}

.team-member-info *:last-child {
  margin-bottom: 0;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__btn {
  pointer-events: none;
}

.socials__btn-icon-res {
  pointer-events: all;
  fill: transparent;
  color: var(--light-gray2);
  -webkit-transition: color var(--anim-speed) var(--anim-fn), fill var(--anim-speed) var(--anim-fn);
  transition: color var(--anim-speed) var(--anim-fn), fill var(--anim-speed) var(--anim-fn);
}
.socials__btn-icon-res:hover, .socials__btn:focus .socials__btn-icon-res {
  fill: var(--prima-c);
  color: var(--white-c);
}

.clients__link {
  display: block;
  width: 170px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* outline потому, что border в 1px некорректно задаёт адаптивную ширину в ff */
  outline: 1px solid var(--light-gray2);
  outline-offset: -1px;
  border-radius: 4px;
  fill: var(--light-gray2);
  -webkit-transition: outline-color var(--anim-speed) var(--anim-fn), fill var(--anim-speed) var(--anim-fn);
  transition: outline-color var(--anim-speed) var(--anim-fn), fill var(--anim-speed) var(--anim-fn);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--prima-c);
  outline-color: var(--prima-c);
}

.footer {
  padding: 60px 0;
  background-color: rgb(var(--gray-bg));
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__left-part {
  width: 231px;
  margin-right: 70px;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: var(--white-c);
}

.footer__address {
  font-style: normal;
  line-height: 1.7142857143;
  color: var(--white-c);
}

.footer__address-item {
  height: 1.5em;
  margin-bottom: 9px;
}
.footer__address-item:last-child {
  margin-bottom: 0;
}

.footer__address-link {
  color: rgba(var(--white-c-values), 0.6);
  -webkit-transition: color var(--anim-speed) var(--anim-fn);
  transition: color var(--anim-speed) var(--anim-fn);
}
.footer__address-link:hover, .footer__address-link:focus {
  color: var(--prima-c);
}

.footer__socials {
  margin-right: auto;
}

.footer__socials-title {
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-c);
}

.footer__socials__btn-icon-res {
  fill: rgba(var(--white-c-values), 0.1);
  color: var(--white-c);
}

.subscribe__title {
  display: inline-block;
  padding-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-c);
}

.subscribe__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__email {
  background: transparent;
  width: 358px;
  padding: 14px 15px;
  margin-right: 12px;
  border: 1px solid rgba(var(--white-c-values), 0.3);
  border-radius: 4px;
  font-weight: 400;
  font-size: calc(var(--baseFontSize) * 1.1428571429);
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--white-c);
  -webkit-transition: border-color var(--anim-speed) var(--anim-fn);
  transition: border-color var(--anim-speed) var(--anim-fn);
}
.subscribe__email::-webkit-input-placeholder {
  color: rgba(var(--white-c-values), 0.6);
}
.subscribe__email::-moz-placeholder {
  color: rgba(var(--white-c-values), 0.6);
}
.subscribe__email:-ms-input-placeholder {
  color: rgba(var(--white-c-values), 0.6);
}
.subscribe__email::-ms-input-placeholder {
  color: rgba(var(--white-c-values), 0.6);
}
.subscribe__email::placeholder {
  color: rgba(var(--white-c-values), 0.6);
}
.subscribe__email:hover, .subscribe__email:focus {
  border-color: var(--prima-c);
  outline: none;
}

.subscribe__button {
  min-width: 200px;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  letter-spacing: 0.06em;
  background-color: var(--prima-c);
  color: var(--white-c);
  fill: var(--white-c);
  -webkit-transition: background-color var(--anim-speed) var(--anim-fn);
  transition: background-color var(--anim-speed) var(--anim-fn);
}
.subscribe__button:hover, .subscribe__button:focus {
  background-color: var(--prima-c2);
}

.subscribe__btn-icon {
  margin-left: 10px;
}

.modal-window {
  position: absolute;
  top: 50vh;
  left: 50vw;
  width: var(--modalWindowWidth, 528px);
  height: var(--modalWindowHeight, 581px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  background-color: var(--white-c);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform var(--anim-speed) var(--anim-fn);
  transition: -webkit-transform var(--anim-speed) var(--anim-fn);
  transition: transform var(--anim-speed) var(--anim-fn);
  transition: transform var(--anim-speed) var(--anim-fn), -webkit-transform var(--anim-speed) var(--anim-fn);
}
.modal-window--hidden {
  -webkit-transform: translate(-50%, 100vh) rotate(-180deg) scale(2);
          transform: translate(-50%, 100vh) rotate(-180deg) scale(2);
}

.modal-window__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: var(--white-c);
  fill: var(--black-c);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  -webkit-transition: fill var(--anim-speed) var(--anim-fn);
  transition: fill var(--anim-speed) var(--anim-fn);
}
.modal-window__close-btn:hover, .modal-window__close-btn:focus {
  fill: var(--prima-c);
}

.modal-window__close-icon {
  margin: 0 auto;
}

.order-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.order-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: calc(var(--baseFontSize) * 1.4285714286);
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-c-1);
}

.order-form__field {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  fill: var(--text-c-1);
  color: var(--text-c-2);
  border-color: rgba(var(--text-c-1-values), 0.2);
  -webkit-transition: border-color var(--anim-speed) var(--anim-fn), fill var(--anim-speed) var(--anim-fn);
  transition: border-color var(--anim-speed) var(--anim-fn), fill var(--anim-speed) var(--anim-fn);
}
.order-form__field:hover {
  fill: var(--prima-c);
}
.order-form__field:focus-within {
  fill: var(--prima-c);
  border-color: var(--prima-c);
}

.order-form__field-data {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  margin-bottom: 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding-left: 42px;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  border-radius: 4px;
  outline: none;
}

.order-form__field-icon {
  position: absolute;
  bottom: 21px;
  left: 12px;
}

.order-form__field-comment {
  resize: none;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 12px 16px;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  border-radius: 4px;
  outline: none;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}
.order-form__field-comment::-webkit-input-placeholder {
  color: rgba(var(--text-c-2-values), 0.5);
}
.order-form__field-comment::-moz-placeholder {
  color: rgba(var(--text-c-2-values), 0.5);
}
.order-form__field-comment:-ms-input-placeholder {
  color: rgba(var(--text-c-2-values), 0.5);
}
.order-form__field-comment::-ms-input-placeholder {
  color: rgba(var(--text-c-2-values), 0.5);
}
.order-form__field-comment::placeholder {
  color: rgba(var(--text-c-2-values), 0.5);
}

.order-form__field--appearance-terms {
  margin-top: 10px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.order-form__checkmark-icon {
  margin-right: 8px;
  --cb-on: transparent;
  --cb-off: var(--text-c-1);
  color: transparent;
}
.order-form__field--appearance-terms:hover .order-form__checkmark-icon, .order-form__terms-cb:focus + .order-form__checkmark-icon {
  --cb-off: var(--prima-c);
}
.order-form__terms-cb:checked + .order-form__checkmark-icon {
  --cb-on: var(--prima-c);
  --cb-off: transparent;
  color: var(--white-c);
}
.order-form__terms-cb:checked + .order-form__checkmark-icon:hover, .order-form__terms-cb:checked:focus + .order-form__checkmark-icon {
  --cb-on: var(--prima-c2);
}

.order-form__link {
  text-decoration: underline;
  color: var(--prima-c);
}
.order-form__link:hover, .order-form__link:focus {
  color: var(--prima-c2);
}

.order-form__submit-btn {
  min-width: 200px;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 10px 50px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--prima-c);
  color: var(--white-c);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--anim-speed) var(--anim-fn);
  transition: background-color var(--anim-speed) var(--anim-fn);
}
.order-form__submit-btn:hover, .order-form__submit-btn:focus {
  background-color: var(--prima-c2);
}

.projects__filter {
  margin: -8px 0 var(--sectionTitleMargin, 50px) -8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects__filter-btn {
  margin: 8px 0px 0px 8px;
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--text-c-1);
  background-color: var(--light-gray);
  -webkit-transition: background-color var(--anim-speed) var(--anim-fn), color var(--anim-speed) var(--anim-fn), -webkit-box-shadow var(--anim-speed) var(--anim-fn);
  transition: background-color var(--anim-speed) var(--anim-fn), color var(--anim-speed) var(--anim-fn), -webkit-box-shadow var(--anim-speed) var(--anim-fn);
  transition: background-color var(--anim-speed) var(--anim-fn), box-shadow var(--anim-speed) var(--anim-fn), color var(--anim-speed) var(--anim-fn);
  transition: background-color var(--anim-speed) var(--anim-fn), box-shadow var(--anim-speed) var(--anim-fn), color var(--anim-speed) var(--anim-fn), -webkit-box-shadow var(--anim-speed) var(--anim-fn);
}
.projects__filter-btn:hover, .projects__filter-btn:focus, .projects__filter-btn--selected {
  background-color: var(--prima-c);
  color: var(--white-c);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project__link {
  display: block;
  width: var(--projectCardWidth, 370px);
  -webkit-transition: -webkit-box-shadow var(--anim-speed) var(--anim-fn);
  transition: -webkit-box-shadow var(--anim-speed) var(--anim-fn);
  transition: box-shadow var(--anim-speed) var(--anim-fn);
  transition: box-shadow var(--anim-speed) var(--anim-fn), -webkit-box-shadow var(--anim-speed) var(--anim-fn);
}
.project__link:hover, .project__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__img-wrapper {
  position: relative;
  overflow: hidden;
}

.project__img {
  display: block;
}

.project__img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 63px 24px;
  background-color: rgba(var(--prima-c-values), 0.9);
  color: var(--white-c);
  font-size: calc(var(--baseFontSize) * 1.2857142857);
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--anim-speed) var(--anim-fn);
  transition: -webkit-transform var(--anim-speed) var(--anim-fn);
  transition: transform var(--anim-speed) var(--anim-fn);
  transition: transform var(--anim-speed) var(--anim-fn), -webkit-transform var(--anim-speed) var(--anim-fn);
}
.project__link:hover .project__img-overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.project__description {
  padding-top: 20px;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 19px;
  font-weight: 700;
  font-size: calc(var(--baseFontSize) * 1.2857142857);
  line-height: 2;
  letter-spacing: 0.06em;
  border-bottom: 1px solid var(--border-c2);
  border-left: 1px solid var(--border-c2);
  border-right: 1px solid var(--border-c2);
}

.project__name {
  margin-bottom: 4px;
  color: var(--text-c-1);
}

.project__type {
  font-weight: 400;
  font-size: calc(var(--baseFontSize) * 1.1428571429);
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-c-2);
}/*# sourceMappingURL=main.css.map */