@import "utils/variables";
@import "utils/setup";
@import "utils/common";

@import "components/header";
@import "components/logo";
@import "components/main-menu";
@import "components/order";
@import "components/features";
@import "components/targets";
@import "components/team";
@import "components/socials";
@import "components/clients";
@import "components/footer";
@import "components/subscribe";

@import "components/modal-window";
@import "components/order-form";

@import "components/projects";
@import "components/project";
