.features__item {
  width: 100%;
  flex-basis: calc(100% / var(--featureColumns) - var(--spacer));
}

.features__item-image-wrapper {
  padding: 25px 0px;
  margin-bottom: var(--spacer);
  border-radius: 4px;
  background-color: var(--light-gray);
}

.features__item-icon {
  margin: 0 auto;
  color: var(--text-c-1);
  fill: var(--prima-c);
}

.features__item-name {
  margin-bottom: 10px;

  text-align: center;

  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-c-1);
}

.features__item-desc {
  line-height: calc(24 / 14);
  color: var(--text-c-2);
}


/*----------- desktop ---------*/

@media screen and (min-width: Var(desktop, breakPoint)) {
  .features__item-name {
    text-align: left;
  }
}