.features__item {
  min-width: var(--featureMinWidth, 270px);
  flex-basis: calc(100% / var(--featureRows) - var(--spacer));
}

.features__item-inner {
  padding: 25px 0px;
  margin-bottom: var(--spacer);
  text-align: center;
  border-radius: 4px;
  background-color: var(--light-gray);
}

.features__item-icon {
  margin: 0 auto;
  color: var(--text-c-1);
  fill: var(--prima-c);
}

.features__item-name {
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-c-1);
}

.features__item-desc {
  line-height: calc(24 / 14);
  color: var(--text-c-2);
}