.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: relFont(24px);
  font-weight: 700;
  line-height: calc(28 / 24);

  letter-spacing: .03em;
  color: var(--text-c-1);
}

.logo__part {
  color: var(--prima-c);
}


/*----------- desktop ---------*/

@media screen and (min-width: Var(desktop, breakPoint)) {
  .logo {
     font-size: relFont(26px);
     line-height: calc(31 / 26);
     color: var(--black-c);
    }
}