.header__main-menu {
  margin-bottom: auto;
}

.main-menu__item {
  --line_height: 47; // Вот эти все вещи нужны из-за косяка в макете
  height: calc((var(--line_height) * 1px) + 1px);

  font-weight: 500;
  font-size: relFont(40px);
  line-height: calc(var(--line_height) / 40);
  letter-spacing: 0.02em;
  color: var(--text-c-1);

  transition: color var(--anim-speed) var(--anim-fn);

  &--selected {
    width: fit-content;
    position: relative;
    height: calc(relFont(40px) + 12px);

    pointer-events: none;
    cursor: default;
    color: var(--prima-c);
  }

  &--selected::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height:4px;
    bottom: 0;
    border-radius: 2px;
    background-color: var(--prima-c);
  }

  &:not(:last-child) {
    margin-bottom: var(--mobile-menu-indent, 32px);
  }
}

.main-menu__link {
  display: inline-block;

  transition: color var(--anim-speed) var(--anim-fn);

  &:hover, &:focus {
    color: var(--prima-c);
  }
}
