.order {
  height: 400px;
  margin: auto;
  max-width: calc(Var(desktop, breakPoint) + 400px);
  @include flex-centered;
  flex-direction: column;
  
  background-color: rgb(var(--gray-bg));
  background-size: cover;
  background-position: center;
  background-clip: content-box;

  //625 — ширина фоновой картинки при высоте 400
  //Пока размер меньше 625, используем самый маленький фон
  @media screen and (max-width: 625px) {

    @media (min-device-pixel-ratio: 1),
    (-webkit-min-device-pixel-ratio: 1),
    (min-resolution: 96dpi),
    (min-resolution: 1dppx) {
      background-image: linear-gradient(rgba(var(--gray-bg),.4) 40%, rgba(var(--gray-bg),.4) 40%), url("../images/team-bg-h400.jpg");
    }
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(var(--gray-bg),.4) 40%, rgba(var(--gray-bg),.4) 40%), url("../images/team-bg-h400@2x.jpg");
    }
    @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
      background-image: linear-gradient(rgba(var(--gray-bg),.4) 40%, rgba(var(--gray-bg),.4) 40%), url("../images/team-bg.jpg");
    }

  }
  //от 626 до 768 картинка шириной 768
  @media screen and (min-width: 626px)
    and (max-width: 768px) {

    @media (min-device-pixel-ratio: 1),
    (-webkit-min-device-pixel-ratio: 1),
    (min-resolution: 96dpi),
    (min-resolution: 1dppx) {
      background-image: linear-gradient(rgba(var(--gray-bg),.4) 40%, rgba(var(--gray-bg),.4) 40%), url("../images/team-bg-w768.jpg");
    }
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(var(--gray-bg),.4) 40%, rgba(var(--gray-bg),.4) 40%), url("../images/team-bg.jpg");
    }

  }
  @media screen and (min-width: 769px) { //всё, что больше — полноразмерная картинка
    background-image:
      linear-gradient(rgba(var(--gray-bg),.4) 40%, rgba(var(--gray-bg),.4) 40%), url("../images/team-bg.jpg");
  }
}


.order__text {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: relFont(26px);
  line-height: calc(42 / 26);
  text-align: center;
  letter-spacing: .06em;
  text-transform: uppercase;

  color: var(--white-c);
}

.order__button {
  min-width: 200px;
  padding: 10px 20px;

  font-weight: 700;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  color: var(--white-c);
  background-color: var(--prima-c);
  box-shadow: 0px 4px 4px rgba(0,0,0,.15);

  transition: background-color var(--anim-speed) var(--anim-fn);
  &:hover, &:focus {
    background-color: var(--prima-c2);
  }
}

.order__modal-window {
  width: 100%;
  min-width: calc(320px - var(--containerPadding) * 2);
  max-width: calc(Var(mobile, breakPoint) - var(--containerPadding) * 2);

  &--hidden {
    transform: translate(-50%, calc(60vh + 50%)) rotate(-180deg) scale(2);
  }
}


/*----------- desktop ---------*/

@media screen and (min-width: Var(desktop, breakPoint)) {
  .order__modal-window {
    max-width: 528px;
  }
  .order {
    height: 600px;
  }
  .order__text {
    font-size: relFont(44px);
    line-height: calc(60 / 44);
  }

  .order { //В десктопной версии точка трансформации смещена вниз на 65px
    background-position-y: calc(50% + 65px);
  }
}
