.order {
  height: 400px;
  margin: auto;
  max-width: calc(Var(desktop, breakPoint) + 400px);
  @include flex-centered;
  flex-direction: column;
  
  background-color: rgb(var(--gray-bg));
  background-image:
    linear-gradient(rgba(var(--gray-bg),.4) 40%, rgba(var(--gray-bg),.4) 40%),
    url("../images/team-bg.jpg");
  background-size: cover;
  background-position: center;
  background-clip: content-box;
}


.order__text {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: relFont(26px);
  line-height: calc(42 / 26);
  text-align: center;
  letter-spacing: .06em;
  text-transform: uppercase;

  color: var(--white-c);
}

.order__button {
  min-width: 200px;
  padding: 10px 20px;

  font-weight: 700;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  color: var(--white-c);
  background-color: var(--prima-c);
  box-shadow: 0px 4px 4px rgba(0,0,0,.15);

  transition: background-color var(--anim-speed) var(--anim-fn);
  &:hover, &:focus {
    background-color: var(--prima-c2);
  }
}

.order__modal-window {
  width: 100%;
  min-width: calc(320px - var(--containerPadding) * 2);
  max-width: calc(Var(mobile, breakPoint) - var(--containerPadding) * 2);

  &--hidden {
    transform: translate(-50%, calc(60vh + 50%)) rotate(-180deg) scale(2);
  }
}


/*----------- desktop ---------*/

@media screen and (min-width: Var(desktop, breakPoint)) {
  .order__modal-window {
    max-width: 528px;
  }
  .order {
    height: 600px;
  }
  .order__text {
    font-size: relFont(44px);
    line-height: calc(60 / 44);
  }

  .order { //В десктопной версии точка трансформации смещена вниз на 65px
    background-position-y: calc(50% + 65px);
  }
}
