.project {
  width: 100%;
  flex-basis: calc(100% / var(--projectColumns) - var(--spacer));
}

.project__link {
  height: 100%;  //Эти три нужны чтобы блок растягивался по высоте, если есть соседний больше по высоте
  display: flex;
  flex-direction: column;

  transition: box-shadow var(--anim-speed) var(--anim-fn);

  &:hover, &:focus {
    box-shadow: 0px 1px 1px rgba(0,0,0,.12), 0px 4px 4px rgba(0,0,0,.06), 1px 4px 6px rgba(0,0,0,.16);
  }
}

.project__img-wrapper {
  position: relative;
  overflow: hidden;
}

.project__img {
  display: block;
  aspect-ratio: var(--projectImgAspect);
  object-fit: cover;
}

//Ещё один грязный фикс для соотвествия макету. в tablet режиме одна из картинок
//имеет нестандартное смещение контента
@media screen and (min-width: Var(tablet, breakPoint))
  and (max-width: (Var(desktop, breakPoint) - 1)) {
  .project__img--second {
    object-position: 0px calc(50% - 24px);
  }
}

.project__img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 63px 24px;

  background-color: rgba(var(--prima-c-values), 0.9);
  color: var(--white-c);
  
  font-size: relFont(18px);
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;

  transform: translateY(100%);
  transition: transform var(--anim-speed) var(--anim-fn);

  .project__link:hover & {
    transform: translateY(0%);
  }
}

.project__description {
  flex: 1; //Нужно, чтоб блок занял максимальную высоту
  padding-top: 20px;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 19px;

  font-weight: 700;
  font-size: relFont(18px);
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;

  border-bottom: 1px solid var(--border-c2);
  border-left: 1px solid var(--border-c2);
  border-right: 1px solid var(--border-c2);
}

.project__name {
  margin-bottom: 4px;
  color: var(--text-c-1);
}

.project__type {
  font-weight: 400;
  font-size: relFont(16px);
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--text-c-2);
}