.projects__filter {
  display: flex;
  flex-wrap: wrap;

  margin-top: -15px;
  margin-left: -8px;

  margin-bottom: 40px;
}

.projects__filter-btn {
  margin: 15px 0px 0px 8px;
  padding: 6px 22px;
  
  font-weight: 500;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;

  color: var(--text-c-1);
  background-color: var(--light-gray);
  
  transition:
    background-color var(--anim-speed) var(--anim-fn),
    box-shadow var(--anim-speed) var(--anim-fn),
    color var(--anim-speed) var(--anim-fn);

  &:hover, &:focus, &--selected {
    background-color: var(--prima-c);
    color: var(--white-c);
    box-shadow: 0px 3px 1px rgba(0,0,0,.1), 0px 1px 2px rgba(0,0,0,.08), 0px 2px 2px rgba(0,0,0,.12);
  }
}

/*----------- tablet + ---------*/
@media screen and (min-width: Var(tablet, breakPoint)) {
  .projects__filter {
    margin-bottom: var(--minorMargin);
  }
}

/*----------- desktop ---------*/

@media screen and (min-width: Var(desktop, breakPoint)) {
  .projects__filter {
    justify-content: center;
  }
}