@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}


body {
  font-family: var(--baseFontFamily, "Roboto", sans-serif);
  font-size: var(--baseFontSize, 14px);
  letter-spacing: var(--baseLetterSpacing, 0.03);
  background-color: var(--white-c);
  &.scroll-disabled {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
  }
}

.container {
  width: 100%;
  padding-left: var(--containerPadding);
  padding-right: var(--containerPadding);
  margin-left: auto;
  margin-right: auto;

  max-width: var(--containerWidth);
}

.button {
  &[type="button"],
  &[type="submit"] {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: relFont(16px);
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
}

.title-h2 {
  font-weight: 700;

  font-size: relFont(28px);
  line-height: calc(33 / 28);

  @media screen and (min-width: Var(desktop, breakPoint)) {
    font-size: relFont(36px);
    line-height: calc(42 / 36);
  }

  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-c-1);
}

.section__title-h2 {
  margin-bottom: var(--minorMargin);
}

.wrappable {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--spacer));
  margin-top: calc(-1 * var(--spacer));
  & > * {
    margin-left: var(--spacer);
    margin-top: var(--spacer);
  }
}
