.clients__link {
  display: block;
  width: 170px;
  height: 92px;
  @include flex-centered;
  // padding: 16px 32px;
  /* outline потому, что border в 1px некорректно задаёт адаптивную ширину в ff */
  outline: 1px solid var(--light-gray2);
  outline-offset: -1px;
  border-radius: 4px;
  fill: var(--light-gray2);
  
  transition:
    outline-color var(--anim-speed) var(--anim-fn),
    fill var(--anim-speed) var(--anim-fn);

  &:hover, &:focus {
    fill: var(--prima-c);
    outline-color: var(--prima-c);
  }
}