*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  background-color: #e5e5e5;
  --gray-bg: 47, 48, 58;
  --light-gray: #f5f4fa;
  --light-gray2: #afb1b8;
  --blue-c: #2196f3;
  --blue-c2: #188ce8;
  --text-c-1: #212121;
  --text-c-2: #757575;
  --spacer: 30px;
}

.container {
  width: 1200px; /* Почему в задании указано 1200? */
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.wrappable {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--spacer));
  margin-top: calc(-1 * var(--spacer));
}

.wrappable > * {
  margin-left: var(--spacer);
  margin-top: var(--spacer);
}

body {
  width: 1600px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  background-color: #fff;
}


button[type="button"] {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}


/* Header */

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 80px;
  border-bottom: 1px solid #ececec;
}

.logo {
  text-decoration: none;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: .03em;
  color: #000;
}

.logo > span {
  display: inline-block;
  color: var(--blue-c);
}

header .logo {
  margin-right: 93px;
}

.main-menu ul{
  display: flex; 
}

.main-menu li a {
  margin-right: 50px;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: .02em;
  color: var(--text-c-1);
}

.main-menu li a:hover,
.main-menu li a:focus {
  color: var(--blue-c);
}

.main-menu li.selected a {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: var(--blue-c);
}

header .address {
  margin-left: auto;
  display: flex;
}

header .address svg {
  margin-right: 10px;
}

header .address a {
  display: flex;
  align-items: center;
}

header .email {
  margin-right: var(--spacer);
}

header .email,
header .phone {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: .02em;
  color: var(--text-c-2);
}

.email:hover,
.phone:hover,
.email:focus,
.phone:focus {
    color: var(--blue-c);
}


/* Order */

.order-section {
  background-image: url("../images/team-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.order-section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  padding: 200px 0;
  background-color: rgba(var(--gray-bg),.4);
}

.order-section h1 {
  margin-bottom: var(--spacer);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: .06em;
  text-transform: uppercase;
  color: #fff;
}

.order-section .order {
  min-width: 200px;
  padding: 10px 32px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: .06em;
  color: #fff;
  background: var(--blue-c);
  box-shadow: 0px 4px 4px rgba(0,0,0,.15);
}

.order-section .order:hover {
  background: var(--blue-c2);
}

/* About us */

.features {
  --rows: 4;
  margin-bottom: 94px;
}

.feature {
  min-width: 270px;
  flex-basis: calc(100% / var(--rows) - var(--spacer));
}

.feature > div {
  padding: 25px 0px;
  margin-bottom: var(--spacer);
  text-align: center;
  border-radius: 4px;
  background-color: var(--light-gray);
}

.feature svg {
  margin: 0 auto;
  color: var(--text-c-1);
  fill: var(--blue-c);
}

.feature > h3 {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: .03em;
  text-transform: uppercase;
  color: var(--text-c-1);
}

.feature > p {
  line-height: 1.71;
  letter-spacing: .03em;
  color: var(--text-c-2);
}

h2 { /* Заголовок во всех секциях одинаковый, поэтому без селектора */
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: .03em;
  color: var(--text-c-1);
}

.our-targets img {
  display: block;
}


/* Team */

.team-section {
  background-color: var(--light-gray);
}

.team-member {
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0,0,0,.12), 0px 1px 1px rgba(0,0,0,.14), 0px 2px 1px rgba(0,0,0,.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member > img {
  display: block;
  overflow: hidden;
  margin-bottom: var(--spacer);
}

.team-member-info {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: .03em;
  color: var(--text-c-1);
}

.team-member-info h3 {
  margin-bottom: 10px;
}

.team-member-info p {
  font-weight: 400; /* Нужно оставить, переопределяет предыдущее правило */
  color: var(--text-c-2);
}

.socials {
  margin: 16px 32px var(--spacer) 32px;
  display: flex;
  justify-content: space-between;
}

.socials button,
.join-socials button { /* Применяем и для кнопок в подвале */
  width: 44px;
  height: 44px;
  padding: 0;
  display: block;
  border: none;
  background-color: transparent;
}

.socials button use {
  cursor: pointer;
  fill: transparent;
  color: var(--light-gray2);
}

.socials button use:hover {
  fill: var(--blue-c);
  color: #fff;
}

/* Regular Customers */

.clients-section li {
  cursor: pointer;
  padding: 16px 32px;
  /* outline потому, что border в 1px некорректно задаёт адаптивную ширину в ff */
  outline: 1px solid var(--light-gray2);
  outline-offset: -1px;
  border-radius: 4px;
  fill: var(--light-gray2);
}

.clients-section li:hover {
  fill: var(--blue-c);
  outline-color: var(--blue-c);
}


/* Footer */

footer {
  padding: 60px 0;
  position: relative;
  background-color: rgb(var(--gray-bg));
}

footer > .logo {
  color: #fff;
}

footer > address {
  letter-spacing: .03em;
  line-height: 1.715;
  margin-top: 20px;
  color: #fff;
}

footer > address li { /* Эти блоки нужны из-за косяка в эскизе */
  height: 1.5em; /* Указано так, чтоб масштабировалось, если изменят размер шрифта */
  margin-bottom: 9px;
}
footer > address li:last-child {
  margin-bottom: 0;
}

footer a {
  display: inline;
  text-decoration: none;
  font-style: normal;
  letter-spacing: .03em;
  color: rgba(255,255,255,.6);
}

.join-socials {
  position: absolute;
  top: 72px;
  left: 516px;
}

.join-socials > div {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.join-socials ul {
  display: flex;
  justify-content: flex-start;
}

.join-socials li:not(:last-child) {
  margin-right: 10px;
}

.join-socials button {
  cursor: pointer;
  fill: rgba(255,255,255,.1);
  color: #fff;
}

.join-socials button:hover {
  fill: var(--blue-c);
}




/* ---------------------- Portfolio ----------------------- */



/* Filters */

.proj-filter {
  margin: -8px 0 50px -8px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.proj-filter button {
  margin: 8px 0px 0px 8px;
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--text-c-1);
  background-color: var(--light-gray);
}


.proj-filter button.selected {
  background-color: var(--blue-c);
  color: #fff;
}

.proj-filter button.selected,
.proj-filter button:hover {
  box-shadow: 0px 3px 1px rgba(0,0,0,.1), 0px 1px 2px rgba(0,0,0,.08), 0px 2px 2px rgba(0,0,0,.12);
}

/* Single project */

.project {
  box-shadow:inset 0px 0px 0px 1px #eee; /* 1px border inside the box */
  cursor: pointer;
}

.project img {
  display: block;
}

.project:hover {
  box-shadow: 0px 1px 1px rgba(0,0,0,.12), 0px 4px 4px rgba(0,0,0,.06), 1px 4px 6px rgba(0,0,0,.16);
}

.project > div {
  padding: 20px 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project h3 {
  margin-bottom: 4px;
  color: var(--text-c-1);
}

.project p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-c-2);
}

body * {
  /* outline: 1px solid red; */
}