*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  background-color: #e5e5e5;
  --prima-c-values: 33, 150, 243;
  --prima-c: rgb(var(--prima-c-values));
  --prima-c2: #188ce8;
  --gray-bg: 47, 48, 58;
  --light-gray: #f5f4fa;
  --light-gray2: #afb1b8;
  --light-gray3: #eceaef;
  --gray-c: rgba(47, 48, 58, 0.8);
  --white-c-values: 255, 255, 255;
  --white-c: rgb(var(--white-c-values));
  --black-c: #000;
  --border-c1: #ececec;
  --border-c2: #eee;
  --text-c-1-values: 21, 21, 21;
  --text-c-1: rgb(var(--text-c-1-values));
  --text-c-2-values: 117, 117, 117;
  --text-c-2: rgb(var(--text-c-2-values));;
  --spacer: 30px;
  --anim-speed: 250ms;
  --anim-fn: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  width: 1600px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: .03em;
  background-color: var(--white-c);
}

.container {
  width: 1200px;
  padding-left: 15px; /* для узких экранов шириной в 1200 */
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}


button[type="button"],
button[type="submit"] {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}



.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrappable {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--spacer));
  margin-top: calc(-1 * var(--spacer));
}

.wrappable > * {
  margin-left: var(--spacer);
  margin-top: var(--spacer);
}

a {
  text-decoration: none;
}


/* Header */

header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--border-c1);
}

header .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: calc(31 / 26);
  letter-spacing: .03em;
  color: var(--black-c);
}

.logo > span {
  display: inline-block;
  color: var(--prima-c);
}

header .logo {
  margin-right: 93px;
}

.main-menu ul{
  display: flex;
}

.main-menu li:not(last-child) {
  margin-right: 50px;
}

.main-menu li a {
  font-weight: 500;
  padding: calc(24px + 16px / 2) 0;
  letter-spacing: .02em;
  color: var(--text-c-1);

  transition: color var(--anim-speed) var(--anim-fn);
}

.main-menu li a:hover,
.main-menu li a:focus {
  color: var(--prima-c);
}

.main-menu li.selected a {
  position: relative;
  pointer-events: none;
  cursor: default;
  color: var(--prima-c);
}

.main-menu li.selected a::before{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height:4px;
  top: calc(50% - 4px + 40.5px);
  border-radius: 2px;
  background-color: var(--prima-c);
}

header .address {
  margin-left: auto;
  display: flex;
}

header .address svg {
  margin-right: 10px;
}

header .email {
  margin-right: var(--spacer);
}

header .address a {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: .02em;
  color: var(--text-c-2);

  transition: color var(--anim-speed) var(--anim-fn);
}

.address a:hover, /* И для header, и для footer */
.address a:focus {
  opacity: 1;
  color: var(--prima-c);
}

/* Order */

.order-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  padding: 200px 0;

  background-color: rgb(var(--gray-bg));
  background-image: linear-gradient(rgba(var(--gray-bg),.4) 40%, rgba(var(--gray-bg),.4) 40%), url("../images/team-bg.jpg");
  background-size: cover;
  background-position: center;
}

.order-section h1 {
  margin-bottom: var(--spacer);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: .06em;
  text-transform: uppercase;
  color: var(--white-c);
}

.order-section .order {
  min-width: 200px;
  padding: 10px 32px;
  font-weight: 700;
  line-height: calc(30 / 16);
  letter-spacing: .06em;
  color: var(--white-c);
  background-color: var(--prima-c);
  box-shadow: 0px 4px 4px rgba(0,0,0,.15);

  transition: background-color var(--anim-speed) var(--anim-fn);
}

.order-section .order:hover {
  background-color: var(--prima-c2);
}


/* About us */

.features {
  --rows: 4; /* Количество колонок */
}

.feature {
  min-width: 270px;
  flex-basis: calc(100% / var(--rows) - var(--spacer));
}

.feature > div {
  padding: 25px 0px;
  margin-bottom: var(--spacer);
  text-align: center;
  border-radius: 4px;
  background-color: var(--light-gray);
}

.feature svg {
  margin: 0 auto;
  color: var(--text-c-1);
  fill: var(--prima-c);
}

.feature > h3 {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: .03em;
  text-transform: uppercase;
  color: var(--text-c-1);
}

.feature > p {
  line-height: calc(24 / 14);
  letter-spacing: .03em;
  color: var(--text-c-2);
}

.section h2 {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: .03em;
  color: var(--text-c-1);
}


/* Our targets */

.our-targets-section {
  padding-top: 0px;
}

.our-targets img {
  display: block;
}

.our-targets li {
  position: relative;
}

.our-targets .overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 27px;
  background-color: var(--gray-c);
}

.our-targets .overlay p {
  font-weight: 700;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;
  color: var(--white-c);
}

/* Team */

.team-section {
  background-color: var(--light-gray);
}

.team-member {
  width: 270px;
  background: var(--white-c);
  box-shadow: 0px 1px 3px rgba(0,0,0,.12), 0px 1px 1px rgba(0,0,0,.14), 0px 2px 1px rgba(0,0,0,.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member > img {
  display: block;
  overflow: hidden;
}

.team-member-info {
  padding: var(--spacer) 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: .03em;
  color: var(--text-c-1);
}

.team-member-info h3 {
  margin-bottom: 10px;
}

.team-member-info p {
  margin-bottom: 16px;
  font-weight: 400; /* Нужно оставить, переопределяет предыдущее правило */
  color: var(--text-c-2);
}

.team-member-info *:last-child {
  margin-bottom: 0;
}

.socials {
  display: flex;
  justify-content: space-between;
}

.socials a,
.join-socials a { /* Применяем и для кнопок в подвале */
  padding: 0;
  pointer-events: none; /* Хочу, чтобы ссылка работала только при наведении на кружок */
  display: block;
  border: none;
  background-color: transparent;
}

.socials use {
  pointer-events: all;
  fill: transparent;
  color: var(--light-gray2);
  transition:
    color var(--anim-speed) var(--anim-fn),
    fill var(--anim-speed) var(--anim-fn);
}

.socials use:hover,
.socials use:focus {
  fill: var(--prima-c);
  color: var(--white-c);
}

/* Regular Customers */

.clients-section a {
  display: block;
  cursor: pointer;
  padding: 16px 32px;
  /* outline потому, что border в 1px некорректно задаёт адаптивную ширину в ff */
  outline: 1px solid var(--light-gray2);
  outline-offset: -1px;
  border-radius: 4px;
  fill: var(--light-gray2);
  
  transition:
    outline-color var(--anim-speed) var(--anim-fn),
    fill var(--anim-speed) var(--anim-fn);
}

.clients-section a:hover,
.clients-section a:focus {
  fill: var(--prima-c);
  outline-color: var(--prima-c);
}


/* Footer */

footer {
  padding: 60px 0;
  background-color: rgb(var(--gray-bg));
}

footer div.container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.footer-left-part {
  width: 231px;
  margin-right: 70px;
}

footer .logo {
  display: block;
  color: var(--white-c);
}

footer address {
  letter-spacing: .03em;
  line-height: calc(24 / 14);
  margin-top: 20px;
  color: var(--white-c);
}

footer address li { /* Эти блоки нужны из-за косяка в эскизе */
  height: 1.5em; /* Указано так, чтоб масштабировалось, если изменят размер шрифта */
  margin-bottom: 9px;
}
footer address li:last-child {
  margin-bottom: 0;
}

footer address a {
  letter-spacing: .03em;
  color: var(--white-c);
  opacity: 60%;
  transition:
    color var(--anim-speed) var(--anim-fn),
    opacity var(--anim-speed) var(--anim-fn);
}

.join-socials {
  margin-right: auto;
}

.join-socials > p {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-c);
}

.join-socials ul {
  display: flex;
  justify-content: flex-start;
}

.join-socials li:not(:last-child) {
  margin-right: 10px;
}

.join-socials use {
  pointer-events: all;
  fill: rgba(255,255,255,.1);
  color: var(--white-c);

  transition: fill var(--anim-speed) var(--anim-fn);
}

.join-socials use:hover,
.join-socials use:focus {
  fill: var(--prima-c);
}

.subscribe {
  /* margin-top: 12px; */
}

.subscribe > label {
  display: inline-block;
  padding-bottom: 20px; /*вместо margin чтоб передавался фокус во всей области */
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-c);
}

.subscribe > div {
  display: flex;
}

.subscribe input {
  background: transparent;
  width: 358px;
  padding: 14px 15px;
  margin-right: 12px;

  border: 1px solid rgba(var(--white-c-values), 0.3);
  border-radius: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: var(--white-c);

  transition: border-color var(--anim-speed) var(--anim-fn);

}

.subscribe input::placeholder {
  color: rgba(var(--white-c-values), 0.6);
}

.subscribe input:hover,
.subscribe input:focus {
  border-color: var(--prima-c);
  outline: none; /* Убираем фокус браузера */
}

.subscribe button {
  min-width: 200px;
  padding: 10px 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  letter-spacing: 0.06em;
  
  background-color: var(--prima-c);
  color: var(--white-c);
  fill: var(--white-c);

  transition: background-color var(--anim-speed) var(--anim-fn);
}

.subscribe button svg {
  margin-left: 10px;
}

.subscribe button:hover,
.subscribe button:focus {
  background-color: var(--prima-c2);
}


/* ---------------------- Portfolio ----------------------- */



/* Filters */

.proj-filter {
  margin: -8px 0 50px -8px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.proj-filter button {
  margin: 8px 0px 0px 8px;
  padding: 6px 22px;
  font-weight: 500;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  color: var(--text-c-1);
  background-color: var(--light-gray);
  transition:
    background-color var(--anim-speed) var(--anim-fn),
    box-shadow var(--anim-speed) var(--anim-fn),
    color var(--anim-speed) var(--anim-fn);
}

.proj-filter button:hover,
.proj-filter button:focus,
.proj-filter button.selected {
  background-color: var(--prima-c);
  color: var(--white-c);
  box-shadow: 0px 3px 1px rgba(0,0,0,.1), 0px 1px 2px rgba(0,0,0,.08), 0px 2px 2px rgba(0,0,0,.12);
}

/* Single project */

.project > a {
  display: block;
  width: 370px;
  transition: box-shadow var(--anim-speed) var(--anim-fn);
}

.project > a:hover,
.project > a:focus {
  box-shadow: 0px 1px 1px rgba(0,0,0,.12), 0px 4px 4px rgba(0,0,0,.06), 1px 4px 6px rgba(0,0,0,.16);
}

.project img {
  display: block;
}

.project .img-part {
  position: relative;
  overflow: hidden;
}

.project .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 63px 24px;

  background-color: rgba(var(--prima-c-values), 0.9);
  color: var(--white-c);
  
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;

  transform: translateY(100%);
  transition: transform var(--anim-speed) var(--anim-fn);
}

.project:hover .overlay {
  transform: translateY(0%);
}

.project .description {
  padding: 20px 24px;
  padding-top: 20px;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 19px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  border-bottom: 1px solid var(--border-c2);
  border-left: 1px solid var(--border-c2);
  border-right: 1px solid var(--border-c2);
}

.project h3 {
  margin-bottom: 4px;
  color: var(--text-c-1);
}

.project p {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--text-c-2);
}




/* ---------------------- Modal window ----------------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;

  background-color: rgba(0,0,0,0.2);
  opacity: 1;
  transition: opacity var(--anim-speed) var(--anim-fn);
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.backdrop.is-hidden .modal-window {
  transform: translate(-50%, 100vh) rotate(-180deg) scale(2);
}

.modal-window {
  position: absolute;
  top: 50vh;
  left: 50vw;
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%);
  padding: 40px;


  background-color: var(--white-c);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--anim-speed) var(--anim-fn);
}

.modal-window .close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;

  background-color: var(--white-c);
  fill: var(--black-c);
  border: 1px solid rgba(0,0,0, 0.1);
  border-radius: 15px;

  transition: fill var(--anim-speed) var(--anim-fn);
}

.modal-window .close-button:hover,
.modal-window .close-button:focus {
  fill: var(--prima-c);
}

.modal-window .close-button svg {
  margin: 0 auto;
}

.order-form {
  display: flex;
  flex-direction: column;
}

.order-form > p {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--text-c-1);
}

.order-form label {
  user-select: none;
  position: relative;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  fill: var(--text-c-1);
  color: var(--text-c-2);
  border-color: rgba(var(--text-c-1-values), 0.2);

  transition:
    border-color var(--anim-speed) var(--anim-fn),
    fill var(--anim-speed) var(--anim-fn);
}

.order-form .form-name svg,
.order-form .form-phone svg,
.order-form .form-email svg {
  position: absolute;
  bottom: 21px;
  left: 12px;
}

.order-form input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  margin-bottom: 10px;
  appearance: none;
  padding-left: calc(12px + 18px + 12px);
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  border-radius: 4px;
  outline: none; /* Убираем фокус браузера */
}

.order-form textarea {
  resize: none;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 10px;
  appearance: none;
  padding: 12px 16px;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  border-radius: 4px;
  outline: none; /* Убираем фокус браузера */

  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}

.order-form textarea::placeholder {
  color: rgba(var(--text-c-2-values), 0.5);
}

.order-form label:hover { /* При hover подсвечиваем только иконки */
  fill: var(--prima-c);
}

.order-form label:focus-within { /* При получении фокуса рамка и заливка иконок */
  fill: var(--prima-c);
  border-color: var(--prima-c);
}

.order-form .form-terms {
  margin-top: 10px;
  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.order-form .checkmark { /* Стандартное состояние: чёрная рамка */
  margin-right: 8px;
  --cb-on: transparent;
  --cb-off: var(--text-c-1);
  color: transparent;
}

.order-form .form-terms:hover .checkmark, /* focus/hover: синяя рамка */
.order-form .terms-cb:focus + .checkmark {
  --cb-off: var(--prima-c);
}

.order-form .terms-cb:checked + .checkmark{ /* checked и без фокуса: галка на синем фоне */
  --cb-on: var(--prima-c);
  --cb-off: transparent;
  color: var(--white-c);
}

.order-form .terms-cb:checked + .checkmark:hover, /* checked и focus/hover: слегка затемнённый синий */
.order-form .terms-cb:checked:focus + .checkmark {
  --cb-on: var(--prima-c2);
}

.order-form .form-terms a {
  text-decoration: underline;
  color: var(--prima-c)
}

.order-form .form-terms a:hover,
.order-form .form-terms a:focus {
  color: var(--prima-c2)
}

.order-form .form-submit-btn {
  width: fit-content;
  min-width: 200px;
  align-self: center;
  padding: 10px 50px;

  font-weight: 700;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  background-color: var(--prima-c);
  color: var(--white-c);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.order-form .form-submit-btn:hover,
.order-form .form-submit-btn:focus {
  background-color: var(--prima-c2);
}